# Server Port
PORT=3000

# Neon Postgres Database Connection String
# Get this from your Neon Console (https://console.neon.tech/)
# Make sure to append ?sslmode=require at the end.
DATABASE_URL=postgresql://user:password@ep-host-name.us-east-2.aws.neon.tech/neondb?sslmode=require
